body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', 'Noto Sans', 'Helvetica Neue', sans;
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

a {
  color: #35c;
}

a:visited {
  color: #86a;
}

.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
}

article {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 16px 64px;
  color: #222428;
}

nav {
  grid-column-start: 1;
  grid-column-end: 2;
  background: #f1f1f1;
  border-right: 1px solid #ddd;
  padding-top: 36px;
}

nav .title {
  font-size: 12px;
  padding: 12px 16px;
  color: #666;
}

nav ul {
  padding: 0;
  margin-top: 12px;
}

nav ul li {
  padding: 0;
  list-style-type: square;
  padding-left: 16px;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  text-decoration: none;
  color: #242734;
  font-size: 14px;
  padding: 4px 12px 4px 18px;
}

nav ul li a:hover {
  background: #e5e5e5;
}

article {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  article {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    /*font-size: 1em;*/
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

pre {
  font-size: 14px;
  background: #f5f5f5;
  padding: 16px 20px;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
}

.breadcrumb a:before {
  content: '/ ';
}

.breadcrumb a:hover {
  color: #68c;
}

