body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', 'Noto Sans', 'Helvetica Neue', sans;
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

a {
  color: #35c;
}

a:visited {
  color: #86a;
}

.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px auto;
}

article {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 16px 64px;
  color: #222428;
}

nav {
  grid-column-start: 1;
  grid-column-end: 2;
  background: #f1f1f1;
  border-right: 1px solid #ddd;
  padding-top: 36px;
}

nav .title {
  font-size: 12px;
  padding: 12px 28px;
  color: #999;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  text-decoration: none;
  color: #242734;
  font-size: 14px;
  line-height: 20px;
}

nav ul li a:hover {
  background: #e5e5e5;
}

nav ul li a.active {
  font-weight: bold;
  border-right: 5px solid #77adff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul ul li {
  list-style: none;
  padding: 0;
  padding-left: 12px;
}


nav > ul { padding: 0; margin-top: 12px; }
nav > ul li { padding: 0; list-style-type: square; }

nav i.directory {
  float: left;
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-width: 5px;
  margin-top: 7px;
  margin-right: 7px;
  vertical-align: bottom;
  border-top-color: #ccc;
}

nav i.page {
  float: left;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 7px;
  margin-right: 12px;
  vertical-align: bottom;
  clear: left;
}

article {
  max-width: 850px;
  font-size: 1em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  article {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.375;
  }
}

code {
  font-size: 14px;
  background: #f5f5f5;
  padding: 16px 20px;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li { display: inline-block; }

.breadcrumb a {
  text-decoration: none;
  color: #888;
  font-size: 14px;
}
.breadcrumb a:before { content: '/ '; }
.breadcrumb a:hover { color: #68c; }


