<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/theme/light.css">
</head>
<body>
  <div class="main">
    <nav>
      <strong class="title">TOPICS</strong>
      <ul>
        {{- block "tree" .Tree -}}
          <li>
          {{- if ne .Name "root" -}}
            <div class="tree-name">
              {{- if .Page -}}
                <i class="page"></i>
              {{- else -}}
                <i class="directory"></i>
              {{- end -}}
              <a href="/{{ .Path }}" class="{{ if isActive .Path }}active{{ end }}">{{ title .Name }}</a>
            </div>
          {{- end -}}
          {{- if ge (len .Children) 1 -}}
            <ul>
            {{- range .Children -}}
              {{- template "tree" . -}}
            {{- end -}}
            </ul>
          {{- end -}}
          </li>
        {{- end -}}
      </ul>
    </nav>
    <article>
      {{ if len .Breadcrumb | le 1 }}
        <ul class="breadcrumb">
          {{ range .Breadcrumb }}
            <li><a href="/{{ . }}">{{ base . | title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      {{ .Page  }}
    </article>
  </div>
</body>
</html>
