<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/theme/light.css">
</head>
<body>
  <div class="main">
    <nav>
      <strong class="title">TOPICS</strong>
      <ul>
        {{ range .Topics }}
          <li><a href="/{{ . }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    </nav>
    <article>
      {{ .Page  }}
    </article>
  </div>
</body>
</html>
