<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/theme/light.css">
</head>
<body>
  <div class="main">
    <nav>
      <strong class="title">TOPICS</strong>
      <ul>
        {{ range .Topics }}
          <li><a href="/{{ . }}">{{ title . }}</a></li>
        {{ end }}
      </ul>
    </nav>
    <article>
      {{ if len .Breadcrumb | le 1 }}
        <ul class="breadcrumb">
          {{ range .Breadcrumb }}
            <li><a href="/{{ . }}">{{ base . | title }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      {{ .Page  }}
    </article>
  </div>
</body>
</html>
